/* Vanilla CSS you should try it */
p {
    margin-top: 0;
    margin-bottom: .7em;
}

.divider {
    height: 1px;
    border: 0 dashed #ddd;
    border-top-width: 1px;
    margin-bottom: .5em;
}

footer a:hover {
    color: rgb(252, 76, 122);
    border-color: rgb(252, 76, 122);
}

.footer {
    grid-area: footer;
    padding-bottom: 5em;
    display: block;
}

/* CSS Grid for laying out elements */
.grid-layout-1 {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 0fr auto 1fr;
}

@media only screen and (min-width: 1240px) {
    .grid-layout-1 {
        margin: auto;
        /* width: 45em; */
        box-shadow: 0 2px 52px rgba(0, 0, 0, 0.2);
    }
}

.header {
    grid-area: header;
    padding-top: 2em;
}

.main {
    grid-area: main;
    margin: 0 auto 40px;
    width: 85%;
    /* max-width: 35em; */
}

.main h1 + p {
    margin-right: 10px;
}

.main .grid {
    margin-top: 1em;
}

.main .sidebar {
    padding-left: 1em;
    border-left: 1px dashed #ddd;
    font-size: 0.9em;
    line-height: 1.2;
}

.main .sidebar ul {
    padding-left: 0;
}

.main .sidebar ul li {
    padding-left: 0;
    padding-bottom: .3em;
    padding-right: 0;
    list-style-type: none;
    /*font-style: italic;*/
    color: #222;
}


h2 {
    font-size: 1.5rem;
    padding-bottom: 5px;
    margin: 0;
}

h3 {
    margin: .7em 0 0 0;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold !important;
}


h5 {
    font-size: 1.1rem;
    font-weight: bold;
    /*letter-spacing: 1px;*/
    margin-top: .8em;
    margin-bottom: .1em;
}

#experience {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

h6 {
    margin: 0 0 0 0;
    padding: 0;
    font-weight: bold;
    /*font-size: 0.85em;*/
    color: #467aa3;
}

h6 em {
    font-weight: 500;
    font-size: 0.85rem;
    color: #467aa3;
    /*font-weight: 600;*/
}





/*.col h4 {*/
/*margin-top: 5px;*/
/*}*/

/* Typographic defaults */

p {
    text-align: justify;
    /*font-weight: 200;*/
    /* font-size: 0.8em; */
    /* margin-bottom: 1em; */
}

dl {
    text-align: left;
    font-size: 0.85rem;
}

dl dt, dl dd {
    line-height: 1.4;
    padding-bottom: 2px;
}

dl dt:first-child, dt:first-child + dd {
    border: 0;
    margin-top: 0;
}

dl dt {
    font-size: 0.7rem;
    text-transform: uppercase;
    border-top: 1px solid #cecece54;
    padding-top: 11px;
}

dl dt strong {
    font-weight: bold;
    background: #f3f3f3;
    color: #2b2b2b;
    padding: 0 7px;
    /* letter-spacing: 0.02em; */
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 3px;
    display: inline-block;
}

dl dd {
    font-weight: 300;
    font-size: 0.9rem;
    padding-bottom: 13px;
    padding-left: 7px;
}

ul {
    padding-inline-start: 30px;
    margin-bottom: .2em;
    padding-top: 0.1em;
}

ul li {
    text-align: left;
    list-style-type: circle;
    /* padding-left: 0.2em; */
    /*line-height: 1.3em;*/
    display: list-item;
    /*font-weight: 200;*/
    /* font-size: 0.75em; */
    padding-bottom: 0.1em;
}

.download, .download .download-icon, .download .download-icon:before,
.download .download-icon:after {
    transition: 0.7s all cubic-bezier(0.42, 0, 0.57, 1.96);
}

.download:hover {
    color: rgb(252, 76, 122);
}

.download:hover .download-icon {
    transform: scale(1);
    border-color: rgb(252, 76, 122);
}

.download:hover .download-icon:before,
.download:hover .download-icon:after {
    background: rgb(252, 76, 122);
}

.download-icon {
    width: 29px;
    height: 29px;
    border: 2px solid #333;
    border-radius: 5em;
    display: inline-block;
    position: relative;
    margin-left: -36px;
    top: 8px;
    left: 0px;
    transform: scale(0.8);
}

.download-icon:before {
    position: absolute;
    left: 9px;
    top: 8px;
    transform: rotate(45deg);
    content: '';
    display: block;
    height: 2px;
    width: 10px;
    background: #333;
}

.download-icon:after {
    position: absolute;
    left: 9px;
    bottom: 9px;
    transform: rotate(-45deg);
    content: '';
    display: block;
    height: 2px;
    width: 10px;
    background: #333;
}

/* Utilities */
/* .-span-cols-6 ul li{
  padding-left: 0.6em;
}


.-span-cols-6 ul li:before{
  content: "0" counter(item) ". ";
  font-weight: 800;
  margin-left: -1.65em;
  margin-right: 2px;
  font-size: 0.85em;
  position: relative;
  left: -8px;
  top: -1px;
} */

.-clearfix {
    display: block;
    clear: both;
}

.-print-only {
    display: none
}

.-print-only p {
    margin-bottom: 0;
    margin-top: 0;
}

.-print-only h6 {
    margin: 20px 0 0 0;
}

.lastpublished {
    color: #999;
    padding-top: 2em;
}

.face {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

.face img {
    float: left;
}

.face .name {
    display: inline-block;
}

/*# bootstrap.css print part */

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    @page {
        size: A4;
        margin: 2cm 3cm;
    }

    html {
        zoom: 0.83;
        border-bottom: none;
        margin: 0;
        width: 100%;
    }

    body {
        /*line-height: 1.2;*/
        /* background: none; */
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        margin: 0;
        /*min-width: 992px !important;*/
    }

    h2  {
        margin-block-start: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        /*font-size: 2em;*/
        margin-left: 0;
        padding-left: 0;
        font-weight: bold !important;
    }

    h6 {
        color: #467aa3;
    }


    a:not(.btn) {
        text-decoration: underline;
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #adb5bd;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }


    .navbar {
        display: none;
    }

    .badge {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table td,
    .table th {
        background-color: #fff !important;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6 !important;
    }

    .table-dark {
        color: inherit;
    }

    .table-dark th,
    .table-dark td,
    .table-dark thead th,
    .table-dark tbody + tbody {
        border-color: #dee2e6;
    }

    .table .thead-dark th {
        color: inherit;
        border-color: #dee2e6;
    }


    .container {
        margin: 0;
        padding: 0;
        width: 100%;
        /*min-width: 992px !important;*/
    }
    .main {
        margin: 0;
        width: 100%;
    }

    /* .face {
        width: 8em;
    } */
    /* .main h6 {
        line-height: 1.5em;
        margin-top: .5em;
    } */
    /* .main h1 + p {
        margin-right: 2em;
    } */
    .-p-left-3 {
        padding-left: 3em;
    }

    .-m-right-2 {
        padding-right: 2em;
    }

    .-p-top-3 {
        padding-top: 3em;
    }

    .-print-only {
        display: block;
    }

    .-print-hidden, .download-icon {
        display: none;
    }

    .main, .footer {
        width: 100%;
        max-width: none;
    }

    /*.main ul {*/
    /*margin-top: 10px;*/
    /*margin-left: 0.5em;*/
    /*}*/
    /* dl dd {
        padding-bottom: 0
    } */
    .-float-right {
        float: none;
        width: 100%;
    }

    .-float-right .-print-only {
        display: inline;
    }

    .footer {
        padding-bottom: 0;
    }
}

/* Responsiveness */
@media only screen and (max-width: 800px) {
    .-float-left, .-float-right {
        float: none;
    }

    .grid {
        display: block;
    }

    .-span-cols-4 {
        margin-top: 3em;
    }

    .footer {
        width: 60%;
    }
}
