{{ define "main" }}
    <section class="row">
        <div class="col-sm-3">{{ partial "face.html" . }}</div>
        <div class="col-sm-9">
            <div class="row mb-0">
                <div class="col-sm-5 name">
                    Alex Sharov
                </div>
                <div class="col-sm-7">
                    <p class="text-right mt-2 mb-0"> HoChiMinh city, Vietnam  |  AskAlexSharov@gmail.com</p>
                </div>
            </div>
            <div class="divider"></div>
            {{ .Content }}
        </div>
    </section>
    {{ partial "experience.html" . }}
    {{ partial "parts.html" . }}
{{ end }}
