{{ define "main" }}
    <header class="row mb-0">
        <div class="col-3">{{ partial "face.html" . }}</div>
        <div class="col-9">
            <div class="row mb-0">
                <div class="col-4 name">
                    Alex Sharov
                </div>
                <div class="col-8">
                    <p class="text-right mt-2 mb-0"> HoChiMinh city, Vietnam  |  AskAlexSharov@gmail.com <span class="print-hidden">| <a href="/alex-sharov-cv.pdf?buildtime={{ now.Unix }}">.pdf</a></span></p>
                </div>
            </div>
            <hr/>
            {{ .Content }}
        </div>
    </header>
    {{ partial "experience.html" . }}
    {{ partial "parts.html" . }}
{{ end }}
